body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

#portfolio-container {
  height: 100vh; /* One full viewport height */
  overflow: hidden;
}

.portfolio-page {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  opacity: 1; /* Initial opacity */
  transition: opacity 0.5s ease-in-out; /* Fade transition effect */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the entire image is visible */
}
