body, html {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Hide vertical scrollbar to prevent jumping */
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            height: 600%; /* 600% of the viewport height to create a scrolling effect */
            width: 100vw;
            transition: transform 0.5s ease; /* Add smooth transition for the shuffle effect */
        }

        .image-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
